
.icon-linkedin-squared:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-viadeo:before { content: '\e803'; } /* '' */
.icon-gauge:before { content: '\e804'; } /* '' */
.icon-wrench:before { content: '\e805'; } /* '' */
.icon-mobile:before { content: '\e806'; } /* '' */
.icon-stackoverflow:before { content: '\e807'; } /* '' */
.icon-github:before { content: '\e808'; } /* '' */
.icon-github-circled:before { content: '\e809'; } /* '' */
.icon-github-circled-1:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-right-small:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */
.icon-ok-circle:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-ok-1:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */