{% include header.html %}

<div class="container">
	<div class="row main-header align-items-center">
		<div class="col-xs-12 col-md-10">
			<h1 class="text-light">Thomas Denning Bechier<br/>
				<small>Développeur Full Stack</small><br/>
				<small class="small">Bilingue Anglais | Français</small>
			</h1>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="https://github.com/shaylash" target="_blank" class="text-info">
						<span class="icon-github"></span>
						Github
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://stackoverflow.com/users/5747645/shaylash" target="_blank" class="text-info">
						<span class="icon-stackoverflow"></span>
						Stack<strong>Overflow</strong>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.linkedin.com/profile/view?id=45500003&trk=nav_responsive_tab_profile" target="_blank" class="text-info">
						<span class="icon-linkedin-squared"></span>
						Linked-in
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.viadeo.com/profile/002jb9q68axdtc5/"  target="_blank" class="text-info">
						<span class="icon-viadeo"></span>
						Viadeo
					</a>
				</li>
				<li class="list-inline-item">
					<a href="mailto:thomas.bechier@free.fr" class="text-info">
						<span class="icon-email"></span>
						thomas.bechier(at)free.fr
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-2 hidden-sm hidden-xs">
			<div class="avatar-wrapper">
				<img src="{{ site.url }}/assets/images/thomas.jpg" alt="" class="w-100 avatar"/>
			</div>
		</div>
	</div>



	<div class="row mt-4">
		<div class="col-md-8">
			<h4 class="bg-light mb-0 pt-1 pb-1 box-title">
				<span class="icon-gauge small mr-2"></span>
				Mon
				<span>Profil Technique</span>
			</h4>

			<div class="p-3 bg-dark">

				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					PHP, POO, Mysql, PostgreSQL, Symfony (3, 4, 5), Laravel, Yii
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">99% Complete (success)</span>
					</div>
				</div>
				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					HTML5, CSS3, JS ( Webpack, Node Js, Grunt, Gulp, Jquery, Greensock )
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">99% Complete (success)</span>
					</div>
				</div>
				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Joomla, Prestashop, Drupal, WordPress, Django
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">98% Complete (success)</span>
					</div>
				</div>
				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Serveur linux ( Arch Linux, Debian, Gentoo ...)
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar"  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">97% Complete (success)</span>
					</div>
				</div>
				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Python, Ruby on Rail
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">80% Complete (success)</span>
					</div>
				</div>

				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					IntelliJ, PHPStorm, Sublime text, Eclipse PDT, Suite Adobe
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">98% Complete (success)</span>
					</div>
				</div>

				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Communication de groupe et management d’équipe
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar"  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">95% Complete (success)</span>
					</div>
				</div>
				<h6 class="text-light">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Ableton live, Traktor Pro, Sound Forge, Reason, Cubase
				</h6>
				<div class="progress mb-2">
					<div class="progress-bar bg-info" role="progressbar"  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">95% Complete (success)</span>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4">

			<h4 class="bg-light mb-0 pt-1 pb-1 box-title">
				<span class="icon-wrench small mr-2"></span>
				Mes
				<span>Atouts</span>
			</h4>
			<div class="p-3 bg-dark">
				<ul class="list-unstyled text-light mb-0">
					<li class="pb-3"><span class="icon-ok-1"></span>&nbsp;&nbsp; Expérience de 12+ ans dans les TIC</li>
					<li class="pb-3"><span class="icon-ok-1"></span>&nbsp;&nbsp; Bilingue Anglais / Francais</li>
					<li class="pb-3"><span class="icon-ok-1"></span>&nbsp;&nbsp; Gestion de projets</li>
					<li class="pb-3"><span class="icon-ok-1"></span>&nbsp;&nbsp; Management d'équipe</li>
					<li class="pb-3"><span class="icon-ok-1"></span>&nbsp;&nbsp; Communication de groupe</li>
					<li class="pb-3"><span class="icon-ok-1"></span>&nbsp;&nbsp; Curiosité d’esprit et perfectionnisme</li>
					<li><span class="icon-ok-1"></span>&nbsp;&nbsp; Capacité d’adaptation, d’innovation</li>
				</ul>
			</div>

		</div>


		<div class="col-md-12 mt-4">


			<div class="accordion experiences" id="experiences">
				<div class="card border-0">
					<div class="card-header" id="headingOne">

						<h4 class="mb-0">
							<i class="icon-right small"></i>
							<button class="btn btn-link collapsed text-dark pl-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Expériences Professionnelles
							</button>
						</h4>
					</div>

					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#experiences">
						<div class="card-body p-0">
							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">SATELLITE MULTIMEDIA Lead D&eacute;veloppeur senior Full Stack</span>
									<span class="badge badge-info">2010 - aujourd'hui</span>
								</h3>
								<p class="expContent">Développement d'un cms maison complet</p>
								<p class="expContent">Développement de site specifique (web tv, agences immobilières avec plateform de commande et crm)</p>
								<p class="expContent">Développement de la web tv de castorama</p>
								<p class="expContent">Développement d'une application extra et intranet d'&eacute;change de fichiers vidéos de grand taille</p>
								<p class="expContent">Développement d'applications spécifiques pour grands groupes sous Symfony 3 et 4 (Alstom, Castorama, Air Liquide France Industrie, ...)</p>
							</div>

							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">KATALYS LIVE Web D&eacute;veloppeur</span>
									<span class="badge badge-info">2008 - 2009</span>
								</h3>
								<p class="expContent">Création et développement Back Office et gestion du portail France (PHP, MYSQL, AS3)</p>
								<p class="expContent">Déploiement des livecams HD sur le web</p>
								<p class="expContent">Intégration et déploiement des visites virtuelles (JAVA)</p>
							</div>

							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">DELL ingénieur commercial</span>
									<span class="badge badge-info">2007 - 2008</span>
								</h3>
								<p class="expContent">Vente de matériel informatique (pc, servers, logiciel…) </p>
								<p class="expContent">Gestion relation client, Création et gestion d’un portefeuille client (PME/PMI 200 &lt;= salariés)</p>
							</div>

							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">AD COMPUTER Associé à 50%</span>
									<span class="badge badge-info">2005 - 2007</span>
								</h3>
								<p class="expContent">Création de l’entreprise AD Computer (Réalisation d’un bilan et comptes résultats prévisionnels.)</p>
								<p class="expContent">Elaboration de la stratégie commerciale de l’entreprise – comptabilité générale AD Computer</p>
								<p class="expContent">Prospection Multi-canal (téléphonique, directe, campagnes publicitaires multimédia)</p>
								<p class="expContent">Vente de matériels et services informatiques (hardware, software, installation, maintenance)</p>
								<p class="expContent">Installation et Maintenance de réseau (logiciel et matériel)</p>
								<p class="expContent">Formateur : bureautique, internet, E-commerce, PAO, MAO (pour entreprises et particuliers)</p>
								<p class="expContent">Création de sites web auto-administrable (AS 2 et 3, HTML, CSS, PHP, MYSQL, javascript).</p>
							</div>

							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">H&amp;C optimisation Web D&eacute;veloppeur</span>
									<span class="badge badge-info">2004 – 2005</span>
								</h3>
								<p class="expContent">Réalisation d’une étude de marché pour un produit innovant,</p>
								<p class="expContent">Création des outils de communication de l’entreprise (site internet et visuel papier).</p>
							</div>

							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">NATURE &amp; PROGRES Assistant chef de projet</span>
									<span class="badge badge-info">2003 – 2004</span>
								</h3>
								<p class="expContent">Mise en place et développement d’un nouveau système de distribution (AMAP : distribution de paniers biologiques)</p>
								<p class="expContent">Prospection (recherche de consommateur et producteur) pour la mise en place de ce système de distribution</p>
								<p class="expContent">Création d’un cahier des charges de fonctionnement pour les AMAP(s) créées dans le Gard</p>
							</div>


							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">AREVA T&amp;D (ALSTOM) Assistant responsable de communication</span>
									<span class="badge badge-info">2003 – 2004</span>
								</h3>
								<p class="expContent">Création et réalisation d’un film de formation pour les intérimaires de l’entreprise</p>
								<p class="expContent">Création d’un support vidéo en anglais pour la vente des produits AREVA T&amp;D à l’étranger</p>
								<p class="expContent">Création d'un logiciel d'exploitation et d'une base de données pour la recherche des pays producteurs de minerais</p>
							</div>


							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">SCULPTURE SITE GALLERY Web D&eacute;veloppeur</span>
									<span class="badge badge-info">1997 – 1998</span>
								</h3>
								<p class="expContent"> Création des outils de communication pour la réalisation d’un vernissage </p>
								<p class="expContent"> Mise en place du site internet de la galerie pour la GREEN SCULTPURE COLLECTION </p>
								<p class="expContent"> Organisation du vernissage avec les clients et les artistes de la galerie </p>
							</div>
						</div>
					</div>
				</div>
				<div class="card border-0">
					<div class="card-header" id="headingTwo">
						<h4 class="mb-0">
							<i class="icon-right small"></i>
							<button class="btn btn-link collapsed text-dark pl-0" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Cursus scolaire
							</button>
						</h4>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#experiences">
						<div class="card-body p-0">
							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">CRP consulting</span>
									<span class="badge badge-info">2008 - 2009</span>
								</h3>
								<p class="expContent">
									perfectionnement DVT langages nouvelles technologies (Algorithmique, JS, PHP Objet, SQL, SYS UNIX et Shell)
								</p>
							</div>


							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">IDRAC ECOLE SUPERIEURE DE COMMERCE</span>
									<span class="badge badge-info">2003 - 2005</span>
								</h3>
								<p class="expContent"> Maîtrise en Marketing et gestion des entreprises avec spécialisation en commerce international (reçu 8/170) </p>
							</div>

							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">CABRILLO COLLEGE SANTA CRUZ CALIFORNIE (U.S.A)</span>
									<span class="badge badge-info">1999 - 2003</span>
								</h3>
								<p class="expContent">
									Diplôme Associate Degree in Financial Accounting and Computer Science en 5 ans avec les honneurs du Jury.
								</p>
							</div>
							<div class="experience">
								<h3 class="expTitle clearfix clearfix">
									<span class="flex-grow-1">TOEFL (Test of English as a Foreign Language)</span>
									<span class="badge badge-info">1998</span>
								</h3>
								<p class="expContent">
									Pré-requis pour admission à Cabrillo College California ( résultats 507pts/677 ).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card border-0">
					<div class="card-header" id="headingThree">
						<h4 class="mb-0">
							<i class="icon-right small"></i>
							<button class="btn btn-link collapsed text-dark pl-0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Langues Parlées
							</button>
						</h4>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#experiences">
						<div class="card-body p-0">
							<div class="experience">
								<h3 class="expTitle clearfix"> Langue maternelle </h3>
								<p class="expContent">Français</p>
							</div>
							<div class="experience">
								<h3 class="expTitle clearfix"> Bilingue </h3>
								<p>Anglais</p>
							</div>
							<div class="experience">
								<h3 class="expTitle clearfix"> Pratique </h3>
								<p>Espagnol</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card border-0">
					<div class="card-header" id="headingFour">
						<h4 class="mb-0">
							<i class="icon-right small"></i>
							<button class="btn btn-link collapsed text-dark pl-0" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								Centres d'interêts
							</button>
						</h4>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#experiences">
						<div class="card-body p-0">
							<div class="experience">
								<h3 class="expTitle clearfix"> Passions </h3>
								<p class="expContent">Internet et le développement web en général </p>
								<p class="expContent">MAO (musique assistée par ordinateur), Mix, Live performances</p>
							</div>
							<div class="experience">
								<h3 class="expTitle clearfix">Sports</h3>
								<p class="expContent">Vtt, Roller Blade, Ski, Kung-fu</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% include footer.html %}
